<% if flash[:notice] %>
 <p id="notice">
   <%= flash[:notice] %>
 </p>
<% end %>


<%= render 'user', user: @user %>

<h1>Books</h1>


<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <%= link_to book.title, book_path(book.id) %>
  <%= book.body %>
</div>
<% end %>

<%= render 'books/create', book: @book %>
