<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>


<% @books.each do |book| %>
<div>
  <%= link_to book.title, book_path(book.id) %>
  <%= book.body %>
</div>
<% end %>

<%= render 'books/create', book: @book %>
