<% if flash[:notice] %>
 <p id="notice">
   <%= flash[:notice] %>
 </p>
<% end %>

<% if @book.errors.any? %>
  <%= @book.errors.count %>error!
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<div>
  <h1>New book</h1>
  <%= form_with model: @book, url: '/books', method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
  <% end %>
</div>