<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'error', new_book: @new_book %>
      <%= render 'users/user', user: @book_user %>
      <%= render 'create', book: @new_book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
             <%= image_tag @book.user.get_profile_image(100,100) %><br>
             <%= link_to @book.user.name, user_path(@book.user.id) %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></td>
            <% end %>
            <td id="favorite_buttons_<%= @book.id %>">
              <%= render 'favorites/favorite', book: @book %>
            </td>
            <td class="comments-count">
              <%= render "book_comments/counter", book: @book %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="book_comments">
        <%= render 'book_comments/index', book: @book, book_comment: @book_comment %>
      </div>
      　<%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>